body{
    width: 100%;
    background-image: url('../img/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login-body{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
}

#login-card{
    background-color: red; 
    height: 300px;
    width: 100%;
}

.card {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.g-signin2{
    width: 100%;
}
  
.g-signin2 > div{
    margin: 0 auto;
}